strong {
    color: cyan;
}

a {
    color: #94d7f2;
    /* 这里的颜色可以根据你的喜好进行调整 */
}

a:visited {
    color: #94d7f2;
    /* 这里的颜色可以根据你的喜好进行调整 */
}

a:hover {
    color: #ff6600;
    /* 这里的颜色可以根据你的喜好进行调整 */
}

body {
    background-color: #222222;
    /* 背景色为黑色 */
    color: #c1c1c1;
    /* 文字颜色为白色 */
}

/*===code 代码框===*/

/* 修改代码的字体和颜色 */
pre code {
  white-space: pre;
  font-size: 12px;
  line-height: 1.5;
  /* font-family: 'Agave-Regular'; */
}
pre code.language-ditaa{
  white-space: pre;
  font-size: 14px;
  line-height: 1.1;
  font-family: 'Agave-Regular';
  /* font-family: Simsun,sans-serif !important; */
}



.hljs-comment {
    color: gray;
    /* 注释颜色 */
    font-style: normal;
}

.hljs-function {
    color: orange;
    /* 函数颜色 */
}

code {
    background-color: #404040;
    color:violet;
}

pre {
    /*代码块背景*/
    background-color: #323232;
    border-radius: 20px;
    /* 设置圆角 */
}

/* 修改滚动条的轨道颜色 */
pre::-webkit-scrollbar-track {
    background-color: #232323;
    /* 背景色 */
}

/* 修改滚动条的滑块颜色 */
pre::-webkit-scrollbar-thumb {
    background-color: #666;
    /* 滑块颜色 */

}

/* 修改滚动条的边框颜色 */
pre::-webkit-scrollbar {
    width: 5px;
    /* 滚动条宽度 */
    border-radius: 5px;
    /* 滚动条边框圆角 */
    border: 1px solid #ccc;
    /* 滚动条边框颜色 */
}
/*=============di视图=============*/

.di {
  white-space: pre;
  font-family: Simsun,sans-serif;
  /* font-family: 'Agave-Regular', 'Microsoft YaHei', 'Courier New', Courier, monospace; */
  line-height: 1.4;
  padding-top: 0px; 
  padding-bottom: 0px;
  /* display: flex;
  justify-content: center;  */
}
.di b{
  color:pink;
}
.di strong {
  color:cyan;
}


.di > span.red {
  color: red; /* 修改后的颜色 */
}
/*=============白色图片背景=============*/
.white{
  display: inline-block;
  background-color: white;
  filter:invert(100%);
  /* grayscale(100%) */
}

/*===响应式设计===*/

/*=============代码高亮=============*/



/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
/* 
.cnblogs-markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f !important;
    color:white;
    font-size:16px !important;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    color: #f92672;
  }
  .hljs-keyword,.hljs-built_in{
    color:#66d9ef;
  }
  
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  
  .hljs-string,
  .hljs-type,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #e6db74;
  }
  
  .hljs-comment,
  .hljs-deletion{
    color: #75715e;
  }
  
  .hljs-meta{
    color: #f92672;
  } */